NEXT_PUBLIC_SITE_URL=https://manyross.com
NEXT_PUBLIC_YOUTUBE_URL=https://www.youtube.com/@manyross2515
NEXT_PUBLIC_SPOTIFY_URL=http://bit.ly/3HskMXY
NEXT_PUBLIC_APPLE_MUSIC_URL=https://music.apple.com/es/artist/many-ross/1820711560
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@manyross.f
NEXT_PUBLIC_INSTAGRAM_URL=https://bit.ly/47zd6O6
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_STORE_URL=
NEXT_PUBLIC_PRINTFUL_STORE_URL=
NEXT_PUBLIC_NEWSLETTER_URL=
NEXT_PUBLIC_LATEST_VIDEO_URL=https://www.youtube.com/@manyross2515
NEXT_PUBLIC_YOUTUBE_SUBSCRIBE_URL=https://www.youtube.com/@manyross2515?sub_confirmation=1
NEXT_PUBLIC_SHORT_ONE_URL=https://www.youtube.com/@manyross2515/shorts
NEXT_PUBLIC_SHORT_TWO_URL=https://www.youtube.com/@manyross2515/shorts
NEXT_PUBLIC_TEAM_NEWS_URL=https://manyross.com/#team
NEXT_PUBLIC_MERCH_DROP_URL=

YOUTUBE_API_KEY=replace-me
YOUTUBE_CHANNEL_ID=replace-me
PRINTFUL_API_TOKEN=pfk_example_read_only_token
